<div class="container " style="margin-top: 120px">
    <ul class="card-list-ch">
        {% for photo in photos_list %}
            <li class="card-ch">
                <a class="card-image-ch" href="{% url 'photos_detail' photo.pk %}"
                   style="background-image:url({{ photo.url }});">
                </a>
                <div style="background-color: white">
                    <h2 style="color: #212121">{{ photo.name }}</h2>
                    <p class="text-dark p-2">{{ photo.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>


