{% extends "base.html" %}
{% block content %}


    <div id="gallery" class="container-fluid">
        <img src="https://source.unsplash.com/1600x1200?cars,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1024x768?clothing,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/2768x2992?art,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/400x600?clothing,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1366x768?vase,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1920x1080?camera,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/640x360?clothing,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/320x640?clothing,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1200x1600?camera,portrait" class="card img-responsive">
        <img src="https://source.unsplash.com/800x600?rose,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/600x800?cars,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/400x600?camera,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/600x400?cars,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1100x1600?female,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1600x1100?female,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/992x768?vase,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1768x992?art,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/600x400?cars,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1168x1292?female,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/768x792?rose,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/568x672?clothing,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/668x233?cars,portrait" class="img-responsive">
        <img src="https://source.unsplash.com/1268x1292?art,portrait" class="img-responsive">

    </div>

    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
