{% extends "base.html" %}
{% block body %}
    <div class="section ">
        <div class="hero-section">
            <div class="about-text hover-target"><a style="color: #ffeba7" href="{% url 'photos_my_photos' %}">about</a></div>
            <div class="contact-text hover-target">contact</div>
            <div class="section-center">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center">
                            <h1>Inspírate<br>a lo grande</h1>
                        </div>
                        <div class="col-12 text-center mb-2">
                            <div class="dancing"><span>photography</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!------condicion para que de primera aparezca el photo_loop o si no el contenido por defecto------->
    {% if photos_list|length > 100 %}
        {% include "photos/includes/photo_loop.html" %}
    {% else %}
        {% include "photos/debajoHome.html" %}
    {% endif %}

    </div>
{% endblock %}


